:root {
  --line-fill: #3498db;
  --border-fill: #e0e0e0;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f6f7fb;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.container {
  text-align: center;
}
.progress-container {
  display: flex;
  justify-content: space-between;
  position: relative;
  margin-bottom: 3rem;
  max-width: 100%;
  width: 35rem;
}
.progress-container::before {
  background-color: var(--border-fill);
  content: '';
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  height: 4px;
  width: 100%;
  z-index: -1;
}

.progress {
  background-color: var(--line-fill);
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  height: 4px;
  width: 0%;
  z-index: -1;
  transition: 0.4s ease;
}

.circle {
  background-color: #f6f7fb;
  color: #999999;
  border-radius: 50%;
  height: 3rem;
  width: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 3px solid var(--border-fill);
  transition: all 0.4s ease-in;
}

.circle.active {
  border-color: var(--line-fill);
}

.btn {
  background-color: var(--line-fill);
  color: #fff;
  border-radius: 6px;
  cursor: pointer;
  margin: 5px;
  padding: 8px 30px;
  outline: none;
  border: none;
  font-size: 1.4rem;
}

.btn:active {
  transform: scale(0.98);
}
.btn:focus {
  outline: none;
}
.btn:disabled {
  cursor: not-allowed;
  background-color: #999999;
}
