* {
  box-sizing: border-box;
}

body {
  background-color: brown;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
}
h3 {
  color: antiquewhite;
}

.container {
  width: 50rem;
}

#textarea {
  border: none;
  display: block;
  width: 100%;
  margin-bottom: 10px;
}
#textarea:active,
#textarea:focus {
  outline: none;
}

.tag {
  background-color: bisque;
  color: #eeb61d;
  border-radius: 50px;
  padding: 10px 20px;
  margin: 0 5px 10px 0;
  font-size: 14px;
  display: inline-block;
}

.tag.highlight {
  background-color: #979797;
}
