* {
  box-sizing: border-box;
}

body {
  background-color: brown;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
}
h3 {
  color: antiquewhite;
}
